@mixin between() {
  display: flex;
  justify-content: space-between;
}
@mixin around() {
  display: flex;
  justify-content: space-around;
}
@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@mixin size() {
  width: 80%;
  margin: auto;
}
@mixin column() {
  display: flex;
  flex-flow: column;
}
@mixin center_column() {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-flow: column;
}
@mixin absolute() {
  position: absolute;
  right: 0;
  top: 0;
}